@font-face {
    font-family: PT-Sans-Regular;
    src: url(../../fonts/PT/PTSans-Regular.ttf);
}
// @font-face {
//     font-family: PT-Sans-Bold;
//     src: url(../../fonts/PT/PTSans-Bold.ttf);
// }
@font-face {
    font-family: Playfair-Display-Regular;
    src: url(../../fonts/Playfair/static/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: Playfair-Display-Bold;
    src: url(../../fonts/Playfair/static/PlayfairDisplay-Bold.ttf);
}
@font-face {
    font-family: Post-No-Bills-Jaffina-Bold;
    src: url(../../fonts/PostNoJaffina/PostNoBillsJaffna-Bold.ttf);
}